.footer {
  background-color: var(--f-black);
  padding: 40px calc((100vw - 1266px) / 2);
}

.footer_top {
  margin: 0 30px;
  /* margin-bottom: 160px; */
}

.footer_link_title {
  color: #a4a4a4;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 16px;
  text-align: right;
}

.footer_links a {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
}

.footerLogo {
  margin-right: 160px;
}

.footer_links {
  margin-right: 80px;
}

.footer_socials {
  padding-left: 0;
}

.footer_social_icons li.li-fa {
  margin-left: 0;
}

.footer_social_icons li {
  margin-left: 32px;
}

/* .footer_bottom {
  justify-content: space-between;
} */

.footer_bottom_links {
  padding-left: 0;
  width: 100%;
}

.footer_bottom_links li {
  text-align: center;
}

.footer_bottom_links a {
  font-size: 10px;
  color: #a4a4a4;
  margin-right: 8px;
}

.footer_bottom_right {
  font-size: 10px;
  color: #a4a4a4;
}

#my-form textarea {
  margin: 0;
  border: 0;
  border-radius: 0;
  width: 310px;
  font-size: 16px;
  resize: none;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 12px;
}

#my-form .footer-form-title {
  font-size: 18px;
  margin-bottom: 16px;
}

#my-form #contactBtn {
  display: block;
  margin-left: auto;
  background: transparent;
  border: 1px solid #fff;
  font-size: 12px;
  border-radius: 2px;
  padding: 8px 16px;
}

#my-form #contactBtn:hover {
  background: white;
  color: black;
}

@media screen and (max-width: 940px) {
  .footer_link_title {
    text-align: right;
  }

  /*.footer_social_icons li {
    margin-right: 32px;
    margin-left: 0;
  } */
  .footerLogo {
    padding: 20px;
  }
  #my-form {
    padding: 20px;
  }
}

@media screen and (max-width: 876px) {
  .footer_socials {
    width: 100%;
  }

  .footer_link_title {
    text-align: center;
  }

  .footer_social_icons {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  #my-form textarea {
    width: 100%;
  }
}
