@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.logo span {
  font-size: 22px;
}

label.logo {
  font-size: 35px;
  line-height: 60px;
  margin-left: 25px;
  font-family: "Abril Fatface", cursive;
}
nav {
  width: 100vw;
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0px calc(((100vw - 1176px) / 2) + 20px);
  box-shadow: 0px 4px 4px rgba(197, 197, 197, 0.25);
}

nav ul {
  height: 100%;
  list-style: none;
  margin: 0px;
  padding-left: 0;
}
nav ul li {
  display: inline-block;
  line-height: 60px;
}
nav ul li a {
  display: inline-block;
  width: fit-content;
  height: 85px;
  margin-left: 40px;
  line-height: 85px;
  color: var(--font-black);
}

nav a:hover {
  color: black;
  border-bottom: 2px solid black;
  /* font-weight: bold; */
}
.checkbtn {
  float: right;
  line-height: 60px;
  font-size: 25px;
  margin-right: 40px;
  display: none;
}

#check {
  display: none;
}

@media screen and (max-width: 1167px) {
  nav {
    padding: 0 20px;
  }
}

@media (max-width: 1064px) {
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
    top: 95px;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateX(-100%);
    transition-duration: 0.5s;
    z-index: 1;
  }
  .checkbtn {
    display: block;
  }
  nav ul li {
    display: block;
    margin: 30px;
  }
  nav ul li a {
    margin: 0;
    line-height: initial;
    height: initial;
  }
  #check:checked ~ ul {
    transform: translateX(0);
  }
}
